:root {
	overflow-y: clip;
	background-image: none;
	background-color: transparent;
}

/* body {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url("../images/meglio.jpeg");
} */

.header .navbar {
	padding: 1rem 3rem;
	height: 119px;
}

#sidebar {
	top: 119px;
	bottom: 35px;
	width: 300px;
}

.languageDropdown {
	margin-right: 16px;
	border: 0;
}

.main {
	min-height: 70vh;
}

footer {
	height: 34px;
	bottom: 0;
	font-size: 0.75rem;
}

.table-container {
    max-height: 190px;
    overflow-y: auto;
}