header .navbar {
	padding: 1rem 3rem;
}

#title {
	font-size: 4rem;
}

#sidebar {
	top: 129px;
	bottom: 35px;
	width: 300px;
}

#sidebar li a:hover {
	background-color: rgba(55, 94, 144, 0.512);
}

footer {
	bottom: 0;
	font-size: 0.75rem;
}

@media (max-width: 565px) {
	header span{
		display: none;
	}
	header .navbar {
		padding: 1rem 1.5rem;
	}
	header #title {
		font-size: 4rem;
	}
	#sidebar {
		bottom: 53px;
		width: 100%;
	}
	footer > div {
		flex-direction: column;
	}
	#sidebar li:first-child {
		margin-top: 0;
	}
}

@media (max-width: 451px) {
	#sidebar {
		bottom: 43px;
	}
	footer > div {
		font-size: 0.55rem;
	}
}

@media (max-width: 280px) {
	header #title {
		font-size: 3rem;
	}
}

@media (max-height: 790px) {
	#sidebar li {
		font-size: 16px;
	}
}