#header {
	height: 115px;
}

main {
	padding-top: 115px;
	height: calc(100vh - 45px);
}

.banners-cont {
	max-width: 1000px;
}

.overlay {
	position: absolute;
	background-color: rgba(49, 67, 107, 0.674);
	bottom: 0;
	left: 0;
	right: 0;
	transition: top 0.20s linear;
}

.tornament_overlay {
	top: 90%;
}

.versus_overlay, .practice_overlay {
	top: 80%;
}

.unlocked:hover .overlay {
	top: 0;
	transition: top 0.25s linear;
}

.mode-description {
	display: none;
}

.unlocked:hover .mode-description {
	display: block;
}

.table-container {
    height: 180px;
}

#sidebar {
	top: 115px;
	width: 300px;
}
