#header, #header-navbar {
	height: 113px;
}

#main {
	height: calc(100vh - 113px - 45px);
}

#offcanvas-nav {
	top: 113px;
	width: 300px;
	transition: all 0.2s ease-in-out;
}

.offcanvas-backdrop {
	top: 113px;
}

.banners-cont {
	max-width: 1000px;
}

.overlay {
	position: absolute;
	background-color: rgba(49, 67, 107, 0.674);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: top 0.20s linear;
}

.unlocked .tournament-overlay {
	top: 90%;
}

.unlocked .versus-overlay, .practice-overlay {
	top: 80%;
}

.unlocked:hover .overlay {
	top: 0;
	transition: top 0.25s linear;
}

.unlocked .svg-locket {
	display: none;
}

.unlocked:hover .mode-description {
	display: block !important;
}

.table-container {
	height: 180px;
}
