header .navbar {
	padding: 1rem 3rem;
}

#title {
	font-size: 4rem;
}

#sidebar {
	top: 129px;
	bottom: 53px;
	width: 300px;
}

#sidebar .navbar-item a:hover {
	background-color: #dddcdcc0;
}

.languageDropdown {
	margin-right: 16px;
	border: 0;
}

footer {
	bottom: 0;
	font-size: 0.75rem;
}

.table-container {
    max-height: 200px;
    overflow-y: auto;
}