<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Zong</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
	<main class="container" style="padding-top: 90px;">
		<div id="AlertContainer" class="alert-container"></div>
		<div></div>
		<nav aria-label="breadcrumb" class="d-none d-md-block">
			<ol vocab="http://schema.org/" typeof="BreadcrumbList" class="breadcrumb">
				<li property="itemListElement" typeof="ListItem" class="breadcrumb-item">
					<meta property="position" content="1" />
					<a href="/en/Magic" property="item" typeof="WebPage">
						<span property="name"><span class="fonticon-home"></span><span class="visually-hidden">Home</span></span>
					</a>
				</li>
				<li property="itemListElement" typeof="ListItem" aria-current="page" class="breadcrumb-item active">
					<meta property="position" content="2" /><a property="item" typeof="WebPage"><span property="name">Account</span></a>
				</li>
			</ol>
		</nav>
		<div class="page-title-container d-flex-col d-sm-flex align-items-end justify-content-between">
			<h1>Account</h1>
			<a href="https://help.cardmarket.com/en" class="align-self-end mb-md-1">Need help?</a>
		</div>
		<div class="row" style="margin-bottom: 75.125px; padding-bottom: 5rem;">
			<div class="col-12 col-md-3">
				<nav id="AccountNav" class="nav flex-column w-100">
					<a href="/en/Magic/Account" class="nav-link active d-none d-md-block">
						<div class="row g-0 d-flex align-items-center">
							<div class="col-auto subpage-icons"><span class="fonticon-home fonticon-color-primary"></span></div>
							<div class="col ms-3 ms-md-2">
								<h2 class="h3">Account</h2>
								<p class="text-truncate lead" style="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="View your personal info.">View your personal info.</p>
							</div>
							<div class="col-auto text-end chevron-icons"><span class="fonticon-chevron-right"></span></div>
						</div>
					</a>
					<a href="/en/Magic/Account/Profile" class="nav-link">
						<div class="row g-0 d-flex align-items-center">
							<div class="col-auto subpage-icons"><span class="fonticon-users fonticon-color-primary"></span></div>
							<div class="col ms-3 ms-md-2">
								<h2 class="h3">Profile</h2>
								<p class="text-truncate lead" style="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Manage your personal info.">Manage your personal info.</p>
							</div>
							<div class="col-auto text-end chevron-icons"><span class="fonticon-chevron-right"></span></div>
						</div>
					</a>
					<a href="/en/Magic/Account/Addresses" class="nav-link">
						<div class="row g-0 d-flex align-items-center">
							<div class="col-auto subpage-icons"><span class="fonticon-location fonticon-color-primary"></span></div>
							<div class="col ms-3 ms-md-2">
								<h2 class="h3">Addresses</h2>
								<p class="text-truncate lead" style="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Manage your addresses.">Manage your addresses.</p>
							</div>
							<div class="col-auto text-end chevron-icons"><span class="fonticon-chevron-right"></span></div>
						</div>
					</a>
					<hr />
					<a href="/en/Magic/Account/Finance" class="nav-link">
						<div class="row g-0 d-flex align-items-center">
							<div class="col-auto subpage-icons"><span class="fonticon-money fonticon-color-primary"></span></div>
							<div class="col ms-3 ms-md-2">
								<h2 class="h3">Credit</h2>
								<p class="text-truncate lead" style="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Manage bank details and payments.">Manage bank details and payments.</p>
							</div>
							<div class="col-auto text-end chevron-icons"><span class="fonticon-chevron-right"></span></div>
						</div>
					</a>
					<a href="/en/Magic/Account/Coupons" class="nav-link">
						<div class="row g-0 d-flex align-items-center">
							<div class="col-auto subpage-icons"><span class="fonticon-coupon fonticon-color-primary"></span></div>
							<div class="col ms-3 ms-md-2">
								<h2 class="h3">Coupon</h2>
								<p class="text-truncate lead" style="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Consult and redeem coupons.">Consult and redeem coupons.</p>
							</div>
							<div class="col-auto text-end chevron-icons"><span class="fonticon-chevron-right"></span></div>
						</div>
					</a>
					<a href="/en/Magic/Account/Transactions" class="nav-link">
						<div class="row g-0 d-flex align-items-center">
							<div class="col-auto subpage-icons"><span class="fonticon-transactions fonticon-color-primary"></span></div>
							<div class="col ms-3 ms-md-2">
								<h2 class="h3">Transactions</h2>
								<p class="text-truncate lead" style="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Consult your transactions.">Consult your transactions.</p>
							</div>
							<div class="col-auto text-end chevron-icons"><span class="fonticon-chevron-right"></span></div>
						</div>
					</a>
					<hr />
					<a href="/en/Magic/Account/Statistics" class="nav-link">
						<div class="row g-0 d-flex align-items-center">
							<div class="col-auto subpage-icons"><span class="fonticon-trends fonticon-color-primary"></span></div>
							<div class="col ms-3 ms-md-2">
								<h2 class="h3">Statistics</h2>
								<p class="text-truncate lead" style="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Consult your statistics.">Consult your statistics.</p>
							</div>
							<div class="col-auto text-end chevron-icons"><span class="fonticon-chevron-right"></span></div>
						</div>
					</a>
					<a href="/en/Magic/Account/Security" class="nav-link">
						<div class="row g-0 d-flex align-items-center">
							<div class="col-auto subpage-icons"><span class="fonticon-lock fonticon-color-primary"></span></div>
							<div class="col ms-3 ms-md-2">
								<h2 class="h3">Security</h2>
								<p class="text-truncate lead" style="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Manage your security settings">Manage your security settings</p>
							</div>
							<div class="col-auto text-end chevron-icons"><span class="fonticon-chevron-right"></span></div>
						</div>
					</a>
					<a href="/en/Magic/Account/Settings" class="nav-link">
						<div class="row g-0 d-flex align-items-center">
							<div class="col-auto subpage-icons"><span class="fonticon-cog fonticon-color-primary"></span></div>
							<div class="col ms-3 ms-md-2">
								<h2 class="h3">Settings</h2>
								<p class="text-truncate lead" style="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Manage your settings.">Manage your settings.</p>
							</div>
							<div class="col-auto text-end chevron-icons"><span class="fonticon-chevron-right"></span></div>
						</div>
					</a>
					<a href="/en/Magic/Account/Downloads" class="nav-link">
						<div class="row g-0 d-flex align-items-center">
							<div class="col-auto subpage-icons"><span class="fonticon-download fonticon-color-primary"></span></div>
							<div class="col ms-3 ms-md-2">
								<h2 class="h3">Downloads</h2>
								<p class="text-truncate lead" style="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Manage your downloads">Manage your downloads</p>
							</div>
							<div class="col-auto text-end chevron-icons"><span class="fonticon-chevron-right"></span></div>
						</div>
					</a>
					<hr />
					<a href="/en/Magic/Account/API" class="nav-link">
						<div class="row g-0 d-flex align-items-center">
							<div class="col-auto subpage-icons"><span class="fonticon-api fonticon-color-primary"></span></div>
							<div class="col ms-3 ms-md-2">
								<h2 class="h3">API Settings</h2>
								<p class="text-truncate lead" style="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Manage and create apps via the API.">Manage and create apps via the API.</p>
							</div>
							<div class="col-auto text-end chevron-icons"><span class="fonticon-chevron-right"></span></div>
						</div>
					</a>
				</nav>
			</div>
			<div class="d-none d-md-block col-md-9">
				<div class="d-flex align-items-center justify-content-between">
					<h3 class="h2 me-auto">Tetrax1995</h3>
					<a href="/en/Magic/Users/Tetrax1995">View public profile</a>
				</div>
				<div class="account-info">
					<div class="row py-2">
						<div class="col-12 col-md-4 col-xl-3 mb-2 mb-md-0 dt">Name</div>
						<div class="col-12 col-md-8 col-xl-9 dd"><span>Matteo Bassetto</span></div>
					</div>
					<div class="row py-2">
						<div class="col-12 col-md-4 col-xl-3 mb-2 mb-md-0 dt">Account Type</div>
						<div class="col-12 col-md-8 col-xl-9 dd">
							<span
								style="display: inline-block; width: 16px; height: 16px; background-image: url('//static.cardmarket.com/img/949ba8e63eca06832acdfff64020fea8/spriteSheets/ssMain2.png'); background-position: -448px -16px;"
								onmouseover="showMsgBox(this,`Private`)"
								onmouseout="hideMsgBox()"
								data-original-title="Private"
								data-bs-toggle="tooltip"
								data-bs-html="true"
								data-bs-placement="bottom"
								class="icon"
								aria-label="Private"
								data-bs-original-title="Private"
							></span>
							<span class="ms-2">Private</span>
						</div>
					</div>
					<div class="row py-2">
						<div class="col-12 col-md-4 col-xl-3 mb-2 mb-md-0 dt">Registration Date</div>
						<div class="col-12 col-md-8 col-xl-9 dd">23.09.2021</div>
					</div>
					<div class="row py-2">
						<div class="col-12 col-md-4 col-xl-3 mb-2 mb-md-0 dt">Date of birth</div>
						<div class="col-12 col-md-8 col-xl-9 dd">16.02.2001</div>
					</div>
				</div>
				<hr />
				<div class="account-info">
					<div data-url="/en/Magic/Account/Addresses" class="row py-2 set-as-link">
						<div class="col-12 col-md-4 col-xl-3 mb-2 mb-md-0 dt">Primary address</div>
						<div class="col-12 col-md-8 col-xl-9 dd">
							<div class="displayContainer">
								<div class="text-break asList">
									<div class="Name">Matteo Bassetto</div>
									<div class="Street">Via Giovanni Lavaggi 106</div>
									<div class="City">96011 Augusta</div>
									<div class="Country">Italy</div>
								</div>
								<span class="fonticon-chevron-right"></span>
							</div>
						</div>
					</div>
				</div>
				<hr />
				<div class="account-info">
					<div data-url="/en/Magic/Account/Finance" class="row py-2 set-as-link">
						<div class="col-12 col-md-4 col-xl-3 mb-2 mb-md-0 dt">Account Balance</div>
						<div class="col-12 col-md-8 col-xl-9 dd">
							<div class="displayContainer"><span class="fw-bold text-success">0,00 €</span><span class="fonticon-chevron-right"></span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>