<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Zong</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<main class="container">
		<h1 class="border-bottom border-secondary text-primary-emphasis mt-3 mb-4">Account</h1>
		<div class="row">
			<div class="col-md-3 d-none d-md-flex fw-bold text-primary-emphasis">
				<nav class="navbar flex-column container-fluid border-end">
					<a href="/account" class="nav-link w-100 p-2 bg-body-tertiary border-start border-primary border-4 text-primary">
						<div class="d-flex align-items-center">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
								<path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
							</svg>
							<span class="ms-2">Account</span>
						</div>
					</a>
					<a href="/stats" class="nav-link w-100 p-2">
						<div class="d-flex align-items-center ms-1">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
								<path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
							</svg>
							<span class="ms-2">Stats</span>
						</div>
					</a>
					<hr class="border border-danger">
					<a href="/other-users" class="nav-link w-100 p-2">
						<div class="d-flex align-items-center ms-1">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
								<path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
							</svg>
							<span class="ms-2">Other Users</span>
						</div>
					</a>
						<a href="/messages" class="nav-link w-100 p-2">
						<div class="d-flex align-items-center ms-1">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
								<path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
							</svg>
							<span class="ms-2">Messages</span>
						</div>
					</a>
					<hr>
					<a href="/security" class="nav-link w-100 p-2">
						<div class="d-flex align-items-center ms-1">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
								<path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
							</svg>
							<span class="ms-2">Security</span>
						</div>
					</a>
				</nav>
			</div>
			<div class="col-12 col-md-9">
			<!-- <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="avatar" alt="Avatar" />
			<h2 class="pt-2 text-primary">mabasset</h2>
			<div class="row py-1">
				<div class="col-12 col-md-4 text-secondary dt">
					name
				</div>
				<div class="col-12 col-md-8 dd">
					<span>Matteo Bassetto<span>
				</div>
			</div>
			<div class="row py-1">
				<div class="col-12 col-md-4 text-secondary dt">
					email
				</div>
				<div class="col-12 col-md-8 dd">
					<span>matte.bassetto01@gmail.com<span>
				</div>
			</div>
			</div> -->
		</div>
	</main>
</body>
</html>